{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="section hero">
	<div class="swiper hero-slider">
		<div class="swiper-wrapper">
			{% for slide in page.header.slider.slider__item %}
			<div class="swiper-slide hero-slider__item">
				<div class="hero-slider__image">
					<img src="{{ page.media[slide.slide_image].url() | raw }}" alt="{{slide.slide_title}}" />
				</div>
				<div class="container">
					<div class="hero__content">
						<div class="hero__box">
							<h1 class="title-1">{{slide.slide_title}}</h1>
							<p>{{slide.slide_content}}</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>
<section class="section team">
  <div class="container">
    <div class="section__title">
      <h2 class="title-2">{{page.header.team.team_title}}</h2>
    </div>
    <div class="team__text">
      {{page.header.team.team_text | markdown}}
    </div>
    <div class="team__row">
			{% for item in page.header.team.team__item %}
        <div class="team__col">
          <div class="team-card">
            <div class="team-card__image">
             	<img src="{{ page.media[item.team_image].url() | raw }}" alt="{{item.team_title}}" />
            </div>
            <div class="team-card__title">
              <h2 class="title-2">{{item.team_title}}</h2>
            </div>
            <div class="team-card__content">
              {{item.team_content}}
            </div>
          </div>
        </div>
			{% endfor %}
    </div>
  </div>
</section>

<section class="section video">
	<div class="video__image">
    <img src="{{ page.media[page.header.video.video_bg].url() | raw }}" alt="bg" />
	</div>
	<div class="container">
		<div class="video__row">
			<div class="video__media">
				<iframe height="100%" src="{{page.header.video.video_link}}" title="PV² Energie - Projektentwickler für BHKW- und Photovoltaikanlagen" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<div class="video__content">
				{{page.header.video.video_content | markdown}}
				<a href="{{page.header.video.video_button_link}}" class="btn">{{page.header.video.video_button_text}}</a>
			</div>
		</div>
	</div>
</section>
<section class="section projects">
	<div class="container">
		<div class="section__title">
			<h2 class="title-2">{{page.header.projects.cards_title}}</h2>
		</div>
		<div class="projects__row">
			{% for post in taxonomy.findTaxonomy({'category':'projects'}) %}			
			<div class="projects__col">
				<div class="projects-card">
					<div class="projects-card__image">
					{# {% set media_files = page.media.filterBy('taxonomy.category', 'projects') %} #}
						{{ post.media[post.header.hero.hero_bg] | markdown}}
					</div>
					<div class="projects-card__content">
						<div class="projects-card__title">
							<h2 class="title-2">{{ post.title|e }}</h2>
							{# <p>Lorem, ipsum.</p> #}
						</div>
						<div class="projects-card__text">
							{{ post.content | markdown }}
						</div>
						<a href="{{ post.url|e }}" class="btn btn_primary">{{page.header.projects.cards_button}}</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}
