{% extends 'partials/base.html.twig' %}

{% block content %}
  {% if page.header.hero %}
    <section class="section hero_inner">
      <img src="{{ page.media[header.hero.hero_bg].url() }}" alt="img" />
    </section>
  {% endif  %}

  {% if page.header.content %}
    <section class="section content">
      <div class="container">
        <div class="section__title">
          <h2>{{page.header.content.title}}</h2>
        </div>
          {{page.header.content.text | markdown}}
      </div>
    </section>
  {% endif  %}

  <section class="section half">
    <div class="half__image">
      <img src="{{ page.media[header.doubleContent.image].url() }}" alt="bg" />
    </div>
    <div class="container">
      <div class="half__row">
        <div class="half__content">
          {{page.header.doubleContent.content | markdown}}
          <a href="#" class="btn">Jetzt Termin vereinbaren</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section stages">
  <div class="container">
    <div class="stages__content">
      <div class="section__title stages__title">
        <h2 class="title-2"> {{page.header.details.details_title}}</h2>
        <p>{{page.header.details.details_subtitle}}</p>
      </div>
      {{page.header.details.details_content | markdown}}
    </div>
    <div class="stages-list">
    {% for item in page.header.details.details_item %}
      <div class="stages-list__item">
        <div class="stages-list__row">
          <div class="stages-list__image">
            <img src="{{ page.media[item.details_item_image].url() | raw }}" alt="details" />
          </div>
          <div class="stages-list__content">
            {{item.details_item_content | markdown}}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

{% endblock %}

