{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="section hero hero-team">
	<img src="{{page.media[header.hero.hero_image].url()}}" alt="{{page.title}}" />
</section>
<section class="section section-only-text">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="section-only-text__content">
					{{page.content|raw}}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section-team">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-team__title">
					<h2>{{page.header.cards.section_title}}</h2>
				</div>
			</div>
			
			{% for card in page.header.cards.cards_list %}
				<div class="col-md-3 col-sm-4 col-12">
					<div class="team-card">
						<div class="team-card__image">
							<img src="{{ page.media[card.card_image].url() | raw }}" alt="{{card.card_name}}" />
						</div>
						<div class="team-card__content">
							<h5>{{card.card_name}}</h5>
							<p>{{card.card_position}}</p>
						</div>
					</div>
				</div>
      {% endfor %}
		</div>
	</div>
</section>
{% endblock %}

{# {{ page.content|raw }} #}